:root {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #121212;
  --surface: #121212;
  --error: #CF6679;
  --warning: #F39C12;
  --on-background: #FFFFFF;
  --on-background-grey: #c7c7c7;
  --on-surface: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid pink; */
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  display: grid;
  padding: 1rem;
  column-gap: 5px;
  border: 2px solid var(--error);
  grid-template-columns: repeat(2, 1fr);
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin: 2px;
  font-weight: bold;
  text-align: center;
}
header ul li a {
  text-decoration: none;
}
