:root {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #121212;
  --surface: #121212;
  --error: #CF6679;
  --warning: #F39C12;
  --on-background: #FFFFFF;
  --on-background-grey: #c7c7c7;
  --on-surface: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid pink; */
}

a {
  color: var(--on-background);
}


body {
  font-family: 'Inter', sans-serif;
}

header {
  border: 2px solid plum;
  text-align: center;
}

header ul {
  display: flex;
  list-style: none;
  margin: 5px 15px;
}

header ul li {
  margin: 5px;
  font-weight: bold;
}

.display-note {
  gap: 20px;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

article{
    padding: 0 5px 5px 5px;
  }
  article span {
    margin: 5px 5px 5px 0;
    color: grey;
  }

@media only screen and (max-width: 800px){
  .display-note{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
}
